<div class="wrapper">
  <mat-card class="user-detail-header">
    <h1>{{ user.firstName }} {{ user.lastName }}</h1>
    <img src="assets/images/avatar.png" class="avatar" />
  </mat-card>

  <div class="inner">
    <mat-card class="content1">
      <h2>Adresse</h2>
      <p>{{ user.street }}</p>
      <p>{{ user.zip }} {{ user.city }}</p>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="menu-icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openEditDialog()">
          <mat-icon>edit</mat-icon>
          <span>Edit User</span>
        </button>
        <button mat-menu-item  [routerLink]="'/user/'">
          <mat-icon>delete</mat-icon>
          <span>Delete User</span>
        </button>
      </mat-menu>
      
    </mat-card>

<!--     <mat-spinner *ngIf="!loaded" class="center"></mat-spinner>
 -->
    <button
      mat-fab
      color="primary"
      class="fab"
      matTooltip="Zur Übersicht"
      matTooltipPosition="above"
      [routerLink]="'/user/'"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</div>
