.fab {
  position: absolute;
  bottom: 56px;
  right: 56px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-detail-header {
  padding: 8px;
  position: relative;
  height: 250px;
  background-color: #7C73FF;
  display: flex;
  align-items: center;
  justify-content: center;
  .avatar {
    width: 150px;
    background-color: var(--mat-sidenav-container-background-color);
    border-radius: 100%;

    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
  }
}
