<div class="wrapper-outter" *ngIf="service.loaded">
  <div class="wrapper-inner">
    <mat-card>
      <span>Derzeit sind</span>
      <span class="hl">{{ userCount }}</span>
      <span>Nutzer angelegt</span>
    </mat-card>
    <mat-card>
      <span>Derzeit sind</span>
      <span class="hl">{{ leadCount }}</span>
      <span>Nutzer angelegt</span>
    </mat-card>
    <mat-card>
      <span>Derzeit sind</span>
      <span class="hl">{{ customerCount }}</span>
      <span>Nutzer angelegt</span>
    </mat-card>
  </div>
</div>

<mat-spinner *ngIf="!service.loaded" class="center"></mat-spinner>
