.fab {
  position: absolute;
  bottom: 56px;
  right: 56px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: calc(100vh - 160px);
  .user-detail-header {
    padding: 8px;
    position: relative;
    height: 250px;
    background-color: #7C73FF;
    display: flex;
    align-items: center;
    justify-content: center;
    .avatar {
      width: 150px;
      background-color: rebeccapurple;
      border-radius: 100%;
      border: 5px solid var(--mat-sidenav-content-background-color);
      position: absolute;
      bottom: -75px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100
    }
  }
  .inner {
    display: flex;
    gap: 5px;
    flex: 1;
    > .content1 {
      width: 100%;
      padding: 40px;
      >.menu-icon{
        position: absolute;
        top: 56px;
        right: 56px;
      }
    }
  } 
}

