<div class="user-wrapper">
  <mat-card>
    <mat-card-content>
      <table>
        <tr>
          <th>Name</th>
          <th>E-Mail</th>
          <th>City</th>
        </tr>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Stadt</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Stadt</td>
        </tr>
      </table></mat-card-content
    >
  </mat-card>
</div>

<!-- <div *ngFor="let user of users$ | async">
  {{ user | json }}
</div>  -->

<button
  mat-fab
  color="primary"
  class="fab"
  matTooltip="User hinzufügen"
  matTooltipPosition="above"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>
