.mat-drawer-container {
    height: 100vh;
    .toolbar {
        display: flex;
        justify-content: space-between;
        .toolbar-inner {
            display: flex;
            align-items: center;
        }
    }
}

.sidenav {
    width: 300px;
}

