<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <img class="logo" [src]="isDarkTheme ? '/assets/images/logo-white.png' : '/assets/images/logo-black.png'" alt="Logo">
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row class="toolbar">
        <div class="toolbar-inner">
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Simple-CRM</span>
        </div>
        <button mat-icon-button (click)="toggleDarkTheme()">
          <mat-icon>{{ isDarkTheme ? "wb_sunny" : "nights_stay" }}</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</mat-drawer-container>

<router-outlet />
