<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="border">
      <img
        class="logo"
        [src]="
          isDarkTheme
            ? '/assets/images/logo-white.png'
            : '/assets/images/logo-black.png'
        "
        alt="Logo"
      />
    </div>
    <ul>
      <li routerLink="/dashboard"><mat-icon>fact_check</mat-icon>Dashboard</li>
      <li routerLink="/user"><mat-icon>perm_identity</mat-icon>User</li>
    </ul>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row class="toolbar">
        <div class="toolbar-inner">
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Simple-CRM</span>
        </div>
        <button mat-icon-button (click)="toggleDarkTheme()">
          <mat-icon>{{ isDarkTheme ? "wb_sunny" : "nights_stay" }}</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet> </router-outlet>
    </div>
  </div>
</mat-drawer-container>
