<div>
  <mat-dialog-content class="dialog-content-wrapper">
    <h2 mat-dialog-title>Nutzer hinzufügen</h2>

    <div class="input-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Vorname</mat-label>
        <input [(ngModel)]="user.firstName" matInput placeholder="Vorname" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nachname</mat-label>
        <input [(ngModel)]="user.lastName" matInput placeholder="Nachname" />
      </mat-form-field>
    </div>
    <div class="input-wrapper">
      <mat-form-field class="w100">
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]="birthDate" [matDatepicker]="picker" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input [(ngModel)]="user.street" matInput placeholder="Adresse" />
    </mat-form-field>
    <div class="input-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Zip-Code</mat-label>
        <input [(ngModel)]="user.zip" matInput placeholder="Zip Code" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input [(ngModel)]="user.city" matInput placeholder="City" />
      </mat-form-field>
    </div>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Abbrechen</button>
      <button (click)="saveUser()" mat-button mat-dialog-close cdkFocusInitial>Speichern</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
