<div class="user-wrapper" *ngIf="service.loaded">
    <mat-card>
      <mat-card-content>
        <table>
          <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
          </tr>
          <tr *ngFor="let user of allUsers" [routerLink]="'/customers/' + user.id">
            <td>{{ user.firstName}}</td>
            <td><a href="mailto:{{ user.email}}">{{ user.email}}</a></td>
            <td>{{ user.city}}</td>
          </tr>
        </table></mat-card-content
      >
    </mat-card>
  </div>
  
  <mat-spinner *ngIf="!service.loaded" class="center"></mat-spinner>
  
<button
    mat-fab
    color="primary"
    class="fab"
    matTooltip="User hinzufügen"
    matTooltipPosition="above"
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>
  
  